src/ModelWalker.dtd

<!DOCTYPE ModelWalker
[
<!ELEMENT ModelWalker (Destinations,GrassPatches)>
<!ELEMENT Destinations (Destination*)>
<!ELEMENT Destination (xCoord,yCoord)>
<!ELEMENT GrassPatches (GrassPatch*)>
<!ELEMENT GrassPatch (startCorner,endCorner)>
<!ELEMENT startCorner (xCoord,yCoord)>
<!ELEMENT endCorner (xCoord,yCoord)>
<!ELEMENT xCoord (#PCDATA)>
<!ELEMENT yCoord (#PCDATA)>
]>